.App {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    height: 100%;
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: red;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
}
